body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}

/*nav bar*/

#menu {
  background-color: rgb(12, 6, 95);
  border: solid;
  border-color: blanchedalmond;
}

#menu a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 3, 3);
    padding: 0.5cm; 
}

#menu ul li a {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: auto;
    padding: 1mm;
    margin: 15mm;
    text-transform: uppercase;
    border: solid;
    border-color:silver;
    background-color: rgb(4, 19, 156);
}

#menu ul li a:hover {
    color: rgb(19, 19, 17);
  }

#elLogo img {
  border: solid;
  border-color: blue;

}

/*foto*/
#miFoto {
  padding: 1cm;
}

#miFoto img {
  border: solid;
  border-color: rgb(106, 224, 9);
  margin: 0 auto;
  
}

/*card*/
.card {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 0 auto;
  padding:1cm;
  border: solid;
  border-color: rgb(7, 137, 160);
  background-color: rgb(12, 12, 14);
  width: 40rem;
}


/*titulos*/

#tituloInicio {
  margin: 1cm;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 1.5cm;
    text-align: center;
    padding: auto;
    color: rgb(9, 18, 143);
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
    text-align: center;
    padding: auto;
    color: rgb(60, 17, 100);
}

h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1cm;
  text-align: center;
  padding: auto;
  color: rgb(212, 212, 209);
}
h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.9cm;
  text-align: center;
  padding: auto;
  color: rgb(69, 205, 230);
}
p {
    color: rgb(237, 238, 234);
    font-size: 5mm;
    text-align: justify;
    justify-content: center;
}
/*pie de pagina*/
footer {
    margin: 0;
    text-align: center;
    background-color: rgb(12, 6, 95);
    height: 22vh;
    text-align: center;
    padding: 3mm;
    border:solid;
    border-color: cornsilk;
  }
  
  article, footer {
    flex: 1;
    margin: 0;
  }

  #leyendaFooter{
    text-align: center;
  }
  
/*boton dark*/
#oScuro {
    display: flex;
    flex-direction: row;
    display: block;
    color:rgb(229, 230, 224);
    background-color: rgb(17, 17, 16);
    border-radius: 5mm;
    border-color:rgb(252, 253, 253);
    font-size: 4mm;
    cursor: pointer;
    
  } 

  #oScuro:hover {
    background-color: rgb(20, 20, 18);
    color: rgb(156, 189, 12);
    
  } 


/*skilss*/
.sKills {
  color: rgb(28, 26, 141);
  justify-content: justify; 
  margin-right: 1cm;
  margin-left: 1cm;
}

/*cards proyectos*/

.carde {
  display: inline-block;
  border: solid;
  border-color: rgb(10, 166, 194);
  background-color: black;
  margin: 0.5cm;
}

.carde-body {
  background-color: rgb(206, 9, 9);
}

.carde-text {
  color:rgb(218, 224, 211);
  text-align: center;
  font-size: 5mm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*cards contacto*/

.car {
  display: inline-block;
  border: solid;
  border-color: rgb(10, 166, 194);
  background-color: black;
  margin: 0.5cm;
}

.car-body {
  background-color: rgb(206, 9, 9);
}

.car-text {
  color:rgb(218, 224, 211);
  text-align: center;
  font-size: 5mm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* media query */

@media (max-width:768px) {
    #menu a {
        font-size: 10px;
        font-weight: bold;
        color: rgb(17, 3, 3); 
    }
    
    #menu ul li a {
        text-align: center;
        color: whitesmoke;
        font-size: 15px;
        font-weight: auto;
        padding: 0.1mm;
        margin: 1mm;
        text-transform: uppercase;
        border: solid;
        border-color:rgb(228, 228, 225);
        background-color: rgb(52, 9, 243);
    }

    #menu ul li a:hover {
        color: rgb(216, 29, 29);
      }

    #oScuro {
        background-color: rgb(17, 6, 2);
        color: rgb(206, 219, 15);
        color: #f5f5f5;
        margin: 0 auto;
        
      }
    #ellogo {
      border-color: rgb(172, 223, 7);
    }
    .card {
      display: flex;
      flex-direction: column;
      display: block;
      margin: 0 auto;
      padding:1cm;
      border: solid;
      border-color: rgb(8, 186, 230);
      background-color: rgb(12, 12, 14);
      width: 23rem;
    }
    #miFoto img {
      border: solid;
      border-color: rgb(219, 75, 18);
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto; 
      height: 10cm;
    }
    #lLamame {
      display:inline-block;
      color: rgb(2, 37, 112);
      padding: 5mm;
    }
}