body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}

/*nav bar*/
#menu a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 3, 3);
    padding: 0.5cm; 
}

#menu ul li a {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: auto;
    padding: 1mm;
    margin: 15mm;
    text-transform: uppercase;
    border: solid;
    border-color:silver;
    background-color: rgb(156, 34, 4);
}

#menu ul li a:hover {
    color: rgb(19, 19, 17);
  }

/*titulos*/

h1{
    font-family: 'Anton', sans-serif;
    font-size: 2cm;
    text-align: center;
    padding: auto;
    color: rgb(231, 17, 9);
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
    text-align: center;
    padding: auto;
    color: rgb(6, 199, 151);
}

h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1cm;
  text-align: center;
  padding: auto;
  color: rgb(212, 212, 209);
}
h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.9cm;
  text-align: center;
  padding: auto;
  color: rgb(226, 19, 19);
}
p {
    color: rgb(237, 238, 234);
    font-size: 5mm;
    text-align: justify;
    justify-content: center;
}
/*pie de pagina*/
footer {
    margin: 0;
    text-align: center;
    background-color: rgb(37, 35, 35);
    height: 20vh;
    text-align: center;
  }
  
  article, footer {
    flex: 1;
    margin: 0;
  }

  #leyendaFooter{
    text-align: center;
  }
  
/*boton dark*/
#oScuro {
    display: flex;
    flex-direction: row;
    display: block;
    color:rgb(185, 197, 10);
    background-color: rgb(17, 6, 2);
    border-radius: 3mm;
    border-color:yellow
    
  }

/*card*/
.card {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 0 auto;
  padding:1cm;
  border: solid;
  border-color: rgb(230, 41, 8);
  background-color: rgb(12, 12, 14);
  width: 40rem;
}

/*skilss*/
.sKills {
  color: rgb(28, 26, 141);
  justify-content: justify; 
  margin-right: 1cm;
  margin-left: 1cm;
}

/* media query */

@media (max-width:768px) {
    #menu a {
        font-size: 10px;
        font-weight: bold;
        color: rgb(17, 3, 3); 
    }
    
    #menu ul li a {
        text-align: center;
        color: whitesmoke;
        font-size: 15px;
        font-weight: auto;
        padding: 0.1mm;
        margin: 1mm;
        text-transform: uppercase;
        border: solid;
        border-color:rgb(159, 168, 33);
        background-color: rgb(243, 36, 9);
    }

    #menu ul li a:hover {
        color: rgb(223, 223, 25);
      }

    #oScuro {
        background-color: rgb(17, 6, 2);
        color: red;
        color: #f5f5f5;
        margin: 0 auto;
        
      }
    #ellogo {
      border-color: hotpink;
    }
    .card {
      display: flex;
      flex-direction: column;
      display: block;
      margin: 0 auto;
      padding:1cm;
      border: solid;
      border-color: rgb(230, 41, 8);
      background-color: rgb(12, 12, 14);
      width: 30rem;
    }
    
}